body {
    background-color: rgb(48, 48, 48); 
    color: white;                    
    margin: 0;                        
    font-family: Arial, sans-serif;    
    transition: background-color 0.3s, color 0.3s; 
  }